results/
results*/
scripts/
*.egg-info/
outputs/
exports/
renders/
results/
pretrained/
scripts/
# tensorboard log files
events.out.*

# Data
/data

# Misc
old/
temp*
!temporal*
.nfs*
external/
__MACOSX/
node_modules/
bash/
cache/
package-lock.json
camera_paths/
.DS_Store
._.DS_Store
*/**/.DS_Store
*/**/__pycache__/
*/__pycache__/
*/**/._.DS_Store